// Dependency imports
$family-sans-serif: 'Barlow', system-ui, sans-serif;
$body-size: 16px;
$modal-content-width: 900px;
@import '@cityssm/bulma-a11y/bulma-a11y';
@import '@creativebulma/bulma-tooltip/src/sass/index';

@import '../lib/fontsource-barlow/latin.css';

.has-height-auto {
  height: auto !important;
}

#is-login-page {
  min-height: 100vh;
  background-image: url('../images/login-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  body,
  body > .columns {
    min-height: 100vh;
  }
}

.navbar-burger span {
  height: 2px;
}

.input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}


.panel-block {
  background-color: $white;

  &:first-child {
    border-radius: $panel-radius $panel-radius 0 0;
  }
}


.has-whitespace-pre {
  white-space: pre-wrap;
}

main {
  max-width: $widescreen;
  min-height: calc(100vh - 52px - 48px);
  margin: 0 auto 50px auto;
}
