// Dependency imports
$family-sans-serif: 'Barlow', system-ui, sans-serif;
$body-size: 16px;
$modal-content-width: 900px;

@import '@cityssm/bulma-a11y/bulma-a11y';
@import '@creativebulma/bulma-tooltip/src/sass/index';
@import '@cityssm/bulma-sticky-table/sticky-table';
@import '../lib/fontsource-barlow/latin.css';

.has-height-auto {
  height: auto !important;
}

#is-login-page {
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &.has-background-0 {
    background-image: url('../images/login-background-0.jpg');
  }

  &.has-background-1 {
    background-image: url('../images/login-background-1.jpg');
  }

  &.has-background-2 {
    background-image: url('../images/login-background-2.jpg');
  }

  &.has-background-3 {
    background-image: url('../images/login-background-3.jpg');
  }

  &.has-background-4 {
    background-image: url('../images/login-background-4.jpg');
  }

  body,
  body > .columns {
    min-height: 100vh;
  }

  .box {
    background-color: rgba($white, 0.92);
    transition: background-color 100ms;

    &:hover,
    &:focus-within {
      background-color: $white;
    }
  }
}

.navbar-burger span {
  height: 2px;
}

.input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}

.panel-block {
  background-color: $white;

  &:first-child {
    border-radius: $panel-radius $panel-radius 0 0;
  }
}

.has-whitespace-pre {
  white-space: pre-wrap;
}

main {
  max-width: $widescreen;
  min-height: calc(100vh - 52px - 48px);
  margin: 0 auto 50px auto;
}

.icon[data-tooltip],
.panel-icon[data-tooltip] {
  border-bottom: 0;
}
